.container {
  display: grid;
  grid-template-columns: 1fr min-content;
}
.areaGrid {
  grid-template-areas:
    'header header'
    'title title'
    'main side'
    'footer footer';
}
.itemHeader {
  grid-area: header;
}
.itemTitle {
  grid-area: title;
}
.itemMain {
  grid-area: main;
}
.itemSide {
  display: flex;
  flex-direction: column;
  grid-area: side;
  padding: 0 10px;
  width: 240px;
}
.itemFooter {
  grid-area: footer;
}
