.container {
  display: grid;
  grid-template-columns: 1fr min-content;
  min-height: 100vh;
}
.content {
  padding: 0 20px;
}
.areaGrid {
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'main side'
    'footer footer';
}
.itemHeader {
  border-bottom: 1px solid #ccc;
  grid-area: header;
  padding-top: 4px;
  padding-bottom: 4px;
}
.itemMain {
  grid-area: main;
}
.itemSide {
  display: flex;
  flex-direction: column;
  grid-area: side;
  padding: 0 10px;
}
.itemFooter {
  background-color: #080;
  color: #fff;
  grid-area: footer;
  padding-top: 4px;
  padding-bottom: 4px;
}
